include AUTHORS
include COPYING
include COPYING.lesser
include README.rst
recursive-include demo *
recursive-include doc *
recursive-include fenics_shells/fem *.h
recursive-include test *
global-exclude __pycache__ *.pyc
